* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.delivery-container {
  margin: 40px auto;
  z-index: 1000;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* form */
.MuiBox-root{
  background-color: rgb(0, 128, 128, 0.95);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* parent div of address textarea when has error */
.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorError.Mui-error.MuiInputBase-formControl.MuiInputBase-multiline {
  padding: 0px;
}
/* parent div of address textarea  */
.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-multiline{
  padding: 0px;
}

/* input */
.MuiFilledInput-input.MuiInputBase-input{
  background-color: white;
  border-radius: 5px;
}

/* address textarea */
#delivery-address{
  padding: 25px 12px 8px 12px;
  box-sizing: content-box;
}