.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot{
  padding: 0px;
}
/* parent search div of label */
.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root{
  position: relative;
}
/* search label */
.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-root.MuiFormLabel-colorPrimary {
  position: absolute;
  top: -9px;
}

/* menu dropdown */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  z-index: 2000;
  min-width: 200px;
}

/* search input */
.MuiAutocomplete-inputRoot {
  padding: 0 !important;
  border-radius: 23px !important;
}

@media only screen and (max-width: 700px){
  #search-products{
    padding: 0px;
  }

  .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-root.MuiFormLabel-colorPrimary{
    display: none !important;
  }
}