.order {
  flex: 4;
  padding: 20px;
}

.orderTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.orderContainer {
  display: flex;
  margin-top: 20px;
}

.orderShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.orderUpdate {
  width: 100%;
  flex: 3;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.orderShowTop {
  display: flex;
  align-items: center;
}

.orderShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.orderShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.orderShowOrdername {
  font-weight: 600;
}

.orderShowOrderTitle {
  font-weight: 300;
}

.orderShowBottom{
    margin-top: 20px;
}

.orderShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.orderShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.orderShowIcon{
    font-size: 16px !important;
}

.orderShowInfoTitle{
    margin-left: 10px;
}

.orderUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.orderUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* width: 100%; */
}
.orderUpdateLeft{
  width: 100%;
}

.orderUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 50%;
}

.orderUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.orderUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.orderUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderUpdateUpload{
    display: flex;
    align-items: center;
}

.orderUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.orderUpdateIcon{
    cursor: pointer;
}

.orderUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}

.widgetLgButton {
  margin-left: 20px;
  font-size: 25px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.approved{
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.declined{
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.pending{
  background-color: #ebf1fe;
  color: #2a7ade;
}

.updateButton{
  border: none;
  padding: 10px 15px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}

.productListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.MuiDataGrid-root, .MuiDataGrid-root{
  min-height: 200px !important;
  height: 360px !important;
  max-height: 60vh !important;
}

.productListItem{
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin: auto;
}

.productListEdit:hover{
  transition: all 0.8s ease;
  transform: scale(1.2);
}

@media only screen and (max-width: 700px){
  .order{
    padding: 20px 0px !important;
  }
  .orderContainer{
    display: 'flex';
    flex-direction: column;
  }
  .orderShow{
    flex: 1;
    min-width: 90%;
    width: 90%;
    margin: auto;
  }
  .orderUpdate{
    flex: 1;
    min-width: 90%;
    width: 100vw !important;
    margin: 20px 0px;
    padding: 20px 5px;    
  }
  .widgetLg{
    flex: 1;
    width: 100vw !important;
    margin: 20px 0px;
    padding: 20px 5px;
  }
  .widgetLgButton{
    font-size: 17px !important;
    padding: 5px 5px !important;
    margin: 0px !important;
  }  
}