* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.payment-container {
    display: none;
    margin: 30px auto;
    z-index: 1000;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.payment-container .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 5px;
}

.payment-container .card .img-box {
    width: 100px;
    height: 100px;
}

.payment-container .card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.payment-container .card button{
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.5s ease;
}

.payment-container .row{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px 15px;
    background-color: rgb(0, 128, 128, 0.95);
    border-radius: 5px;
}

.payment-container .row div:not(:last-child){
    margin-right: 15px;
}
.payment-container .card{
    padding: 10px;
}
.paragraph{
    background-color: rgb(0, 128, 128, 0.95);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.paragraph p{
    margin-right: 15px;
}
.paragraph svg:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.5s ease;
}